*{
    margin: 0px;
    padding: 0px;
    box-sizing: border-box;
    font-family: 'Poppins', sans-serif;
}
.btnOder{
    color: white;
    margin-top: 10px;
    padding: 15px 50px;
    text-decoration:none;
    border: none;
    text-align: center;
    background-color: black;
    
}
.btnOder:hover{
    background-color: #404040;
     
}

.row{
text-align: center;

}
.productdetail{
    margin-top: 50px;
}


/* SGV css name product */

  .shape {
    stroke-dasharray: 0 580;
    stroke-dashoffset: 580;
    stroke-width: 4px;
    fill: transparent;
    stroke: #a0e0f4;
    border-bottom: 5px solid black;
    transition: stroke-width 2.7s, stroke-dashoffset 2.7s, stroke-dasharray 1.3s;
    transition-delay: 0s;
    fill: white;  
  }
  .text {
    font-family: 'David Libre';
    font-size: 22px;
    line-height: 32px;
    letter-spacing: 8px;
    color: #a0e0f4;
    top: -48px;
    position: relative;
    text-align: center;
    height: 60px;
    width: 520px;
    font-variant: small-caps;
  }
  .shape-border {
    stroke-width: 4px;
    stroke-dashoffset: 0;
    stroke-dasharray: 480 100;
  }
