/* Header */
*{
    margin: 0px;
    padding: 0px;
    box-sizing: border-box;
    font-family: 'Poppins', sans-serif;
}
.Logo{
    background-color: rgb(21,35,73);
}
.Logo img{
    margin:5px ;
   
}

.Intro{
    position:absolute;
    top: 25px;
    text-shadow: 2px 2px 2px rgb(83,160,209);
}
.p1{

    color: rgb(160,224,244);
    position: relative;
    top: 5px;
    left: 15px;
}
.p2{
    color: rgb(160,224,244);
    position: relative;
    top: 10px;
    left: 160px;
}

.Search_Cart_login{
 position:absolute;
 top: 40px;
 right: 50px;
}
.Search_Cart_login span{
    font-size: 25px;
    margin: 5px;
    color: rgb(160,224,244);
}
.Search_Cart_login span a{
    text-decoration: none;
    color: rgb(160,224,244);
}
.nav_header{
    position: absolute;
    top: 50px;
    right: 250px;
}
.nav_header ul li{
    display: inline-block;
    list-style: none;
    margin: 0px 5px;
}
.nav_header ul li a{
    color: rgb(160,224,244);
    text-decoration: none;
    font-size: 18px;
    text-shadow: 1px 0.5px 2px;
}

footer{
    margin: 50px 0px;
    width: 100%;
    height: 250px;
    background-color: rgb(21,35,73);
}

.aside_adress{
    position: absolute;
    margin: 50px 20px;
    left: 50px;

}
.aside_connetMXH{
    
    position: absolute;
    margin: 50px 20px;
    right: 40%;
    
}
.facebook_page{
    height: 100px;

}
.Flollow_us{
    position: absolute;
    margin: 100px 60px;
    right: 30px;
    text-align: center;
    
}
.Flollow_us span{
    font-size: 25px;
    margin: 0px 5px;
}
.Flollow_us span a{
    text-decoration: none;
    color: rgb(160,224,244);
    
}
.item img{
    margin-top: 5px;
    width: 100%;
    height: 85vh;

}
.owl-dots{
 width: 100%;
 text-align: center;
 position: absolute;
 bottom: 1%;

}



